.tituloprincipal{
    padding-left: 30px;
}

#crypto{
    width: 100%;
    height: 320px;
}

.principal{
    background-color: olive;
    padding: 20px;
}

.titulocentro{
    text-align: center; background-color: darkgoldenrod;"
}

p{
    text-align: center;
}

em strong{
    color: whitesmoke;
}

#miSion{
    font-size: 20px;"
}

.diferencialeS{
    background-color: darkolivegreen;
    padding: 20px;
}

.itemS{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    margin-right: 15%;
}


.imagen2{
    width: 30%;
}
